{% extends 'main.html' %}

{% block head %}
<title>Update Accoutn Password</title>
{% endblock %}

{% block content %}

<div class="container" >
    <div class="d-flex justify-content-center inner-container">       

		{% from "macros/_render_field.html" import render_field %}

        <div class="bg-dark text-secondary text-center align-self-center form-div">
            <h3>Reset Password</h3>
            <hr>
            <form method="post" action="{{ url_for('account.account_password_update', id=current_user.id) }}", enctype="multipart/form-data">
				{{ form.csrf_token }}

                {{ render_field(form.old_password, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm_password, class="form-control") }}

                {{ form.submit(class="btn btn-primary") }}
			</form>
        </div>
    </div>
</div>

{% endblock %}