<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
      <a class="navbar-brand " href="{{url_for('home.index')}}" >Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-right" >
          <li class="nav-item projects">
            <a class="nav-link active" aria-current="page" href="{{url_for('home.index')}}">Projects</a>
          </li>
          <li class="nav-item about">
            <a class="nav-link" href="{{url_for('home.about')}}">About</a>
          </li>
          <li class="nav-item form">
            <a class="nav-link" href="{{url_for('candidate.form')}}">Form</a>
          </li>
          <li class="nav-item db-form-table">
            <a class="nav-link" href="{{url_for('candidate.db_form_table')}}">DB Form Table</a>
          </li>
          <li class="nav-item db-user-table">
            <a class="nav-link" href="{{url_for('account.db_user_table')}}">DB User Table</a>
          </li>

          {% if current_user.is_authenticated %}
          <li class="nav-item account">
            <a class="nav-link" href="{{url_for('account.account')}}">Account</a>
          </li>
          <li class="nav-item log-out">
            <a class="nav-link" href="{{url_for('account.logout')}}">Log out</a>
          </li>
          {% else %}
            <li class="nav-item log-in">
                <a class="nav-link" href="{{url_for('account.login')}}">Log In</a>
            </li>
            <li class="nav-item sign-up">
                <a class="nav-link" href="{{url_for('account.register')}}">Sign Up</a>
            </li>
          {% endif %}


        </ul>

        
      </div>
    </div>
  </nav>