

body{
    background-color: var(--bs-body-color-rgb);
}

.inner-container{
    min-height: 88vh !important;
}

span.emoji {
    font-size: 100px;
    vertical-align: middle;
}

a{
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    color: inherit;
}